*{
    margin: 0;
    padding: 0;
    box-sizing: cover;
}
body{
    /* background-color:rgba(181, 177, 177, 0.6); */
}
:root{
    --main-bg-color:rgb(255, 255, 255);
    --border-color:#eff3f4;

}
.container{
    height: 600px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--main-bg-color);
    margin: 50px auto;   
}
.close{
    position:relative;
    left:10%;
    top: 5%;
    width:20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 500px;
    padding-top: 20px;
    background: white;
    box-shadow: 0px 0px 10px;
    border-radius: 20px;
}
 .box *{
    margin: 10px 0px;
 }
 .box button ,.sing_input{
    border:1px solid #cfd9de;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width:265px;
    height:40px;
    padding:0px 16px; 
    border-radius: 20px;
    font-size:15px;
 }
 .hr{
    width: 265px;
    height: 1px;
    background-color: #cfd9de;
    border: none;
 }
 .or{
    position: absolute;
    top:333px;
    background-color: var(--main-bg-color);
    padding: 0 10px;
 }
 .box .create{
   background-color: black;
   color: rgb(255, 255, 255);
   height: 35px;
 }
  .box .forgot{
   height: 35px;
 }
 .iphone{
   font-weight:700;
 }
 .blue{
    color: rgb(29, 155, 240);
 }
 .login{
    text-decoration: none;
 }
 .font1{
    font-size: 15px;
 }
 .font2{
    font-size: 18px;
 }
 /* -------------------------------------------- */
 .desk_container{
   display: flex;
   flex-direction: row;
}
 .deskbox1{
   width: 390px;
   height: 100%;
   position:relative;
 }

 .deskbox1 .menu{
   position: relative;
   padding:20px 12px 0px 12px;
   display: flex;
   flex-direction: column;
   height: 97%;
   width:240px;
   margin-left:127px;
}
.deskbox1 .menu .item{
   display: flex;
   align-items: center;
   padding:10px 12px;
   /* margin: ; */
}
/* .deskbox1 .menu .item > div{
   padding:0px 5px;
   color: black;
} */
.deskbox1 .menu .item .item-txt{
   padding:0px 15px;
   color: black;
}
.deskbox1 .menu .item .item-txt a{
   /* padding:0px 5px; */
   color: black;
}
.deskbox1 .menu a{
   color: whitesmoke;
   text-decoration: none;
   font-size: 20px;
}
.deskbox1 .menu .item{
  border: 1px solid transparent;
  border-radius: 25px;
}
.deskbox1 .menu .item:hover{
   max-width: max-content;
   border: 1px solid transparent;
   font-weight: 700;
   transition: 0.1s ease-in;
   background-color: rgba(15, 20, 25, 0.1);
}
.deskbox1 .m-icon, .bird-icon{
   width: 26px;
   height: 26px;
}
.bird-icon{
   margin-left: 20px;
}

.btn1{
   color:white;
   background: #1d9bf0;
   margin-top: 10px;
   padding: 13px;
   width: 220px;
   border-radius: 25px;
   border: none;
   font-size: 20px; 
 }
  .btn1:hover{
   background: #0982d2;
   color: whitesmoke;
 }
 .user{
   /* position: absolute; */
   position:relative;
   margin-top:80px;
   width: 300px;
   cursor: pointer;
 }
 .button{
   display: flex;
   flex-direction: column;
 }

 .id1{
   position: absolute;
   left: 50px;
   border-radius: 50px;
   font-weight: bold; 
}
.id2{
   font-size: 20px;
   position: absolute;
   top: 20px;
   left: 50px;
   border-radius: 50px; 
   color: gray;
 }
.btn2{

   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   position: absolute;
   border-radius: 50%;
   font-size: 20px;
   font-weight: bold;
   background: rgb(117, 57, 57);
   color: whitesmoke;
 }
 .tweet_btn{
   position: relative;
 }
 .button .id-dot{
   width: 20px;
   top: 10px;
   position: absolute;
   z-index: 2;
   left: 73%;
 }
 /* Box2 Contetnt Start*/

 .deskbox2{ 
    position:relative;
   width:1140px;
   /* min-height:99vh; */
   /* border-left:5px solid rgb(245, 0, 0); */
   /* border-right:5px solid rgb(245, 0, 0); */
   height:99vh;
   /* overflow-y: hidden; */
   /* overflow:auto; */
}

.iframe-main{
   /* border: 10px solid rgb(255, 98, 237); */
   display: flex;
   /* min-height:99vh; */
   /* height:99vh; */
}
.iframe-main-con1 {
   /* overflow: auto;
   height: 99vh; */
   height: max-content;
   margin: 2px;
   position: relative;
   width: 590px;
   border-left: 2px solid var(--border-color);
   border-right: 2px solid var(--border-color);
}
 
.top-view{
  /* position: -webkit-sticky; */
  position: sticky;
  top: 5px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);

}
.iframe-main-con1 .iframe-current{
   left: 10px;
   font-size: 20px;
   font-weight: bold;
   position: relative;
   top: 10px;
}

.iframe-fy{
   display: flex;
    width: 100%;
    position:sticky;
    top:50px;
    margin-top: 50px;
}
.iframe-fy a{
   text-decoration: none;
   color: black;
   font-size:17px;
   font-weight:300;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0px;
}
.iframe-fy a:hover{
   background: #cfd9de;
}
.iframe-tweet{
   
   position: relative;
   margin-top: -125px;
 

}
.iframe-tweet form{
   padding: 10px 0px;
   border-top:  2px solid var(--border-color);
   border-bottom:  2px solid var(--border-color);
}
.tweet-text-send{
   display: none;
   position: absolute;
   top: 20px;
   left: 300px;
   background: whitesmoke;
   z-index: 1;
   border-radius: 10px;
   box-shadow: 0px 0px 10000px rgb(143, 141, 141);
}
.tweet-text{
    margin: 20px 20px;
}
.tweet-dropdow{
   display: flex;
}

.tweet-dropdow span{
   cursor: pointer;
  height: 20px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  border-radius: 20px;
  padding:0px 10px;
  border: 1px solid gray;
  color: #1576b6;
  font-weight: bold;
}
.tweet-text input{
   background: transparent;
   margin: 10px 0px 0px 50px;
} 
.tweet-text .reply{
   margin: 100px 0px 30px 50px;
   color: #1576b6;
   font-weight: bold;
  
}

.iframe-tweet{
  display: none;
  position: relative;
  top: 130px;
}
.active{
   display: block;
}
.iframe-tweet-top{
   height:50px;
   display: flex;  
   margin: 10px;   
}
.iframe-tweet-top > p:nth-child(even){
   margin: 10px;   
}
.user-icon{
   text-align: center;
   height: 40px;
   width: 40px;
   border-radius: 50%;
}
.input-tweet{
   width: 450px;
   font-size: 20px;
    border: none;
}
.input-tweet:focus{
   outline: none;
}

.iframe-tweet-icons{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 20px 0px 50px;
}
.iframe-tweet-icon img{
   width:30px;
} 
.iframe-tweet-btn button{
   color: white;
    background: #1d9bf0;
    width: 100px;
  width: 120px;
  padding: 10px 20px;
  border: none;
  border-radius:20px;
  transition: 0.3s;
}
.iframe-tweet-btn button:hover{
   background: #037dcf;
   color: white;
}
.iframe-post{
   margin-top: 4px;
   border-bottom:  2px solid var(--border-color);
   position: relative;
 
}
.iframe-post-user{
   display: flex;
   align-items: center;  
}
.post-user-img{

   width: 40px;
   margin: 5px;
   /* border: 1px solid black; */
   border-radius: 50%;
}
.user-name{
   font-weight: bold;
}
.user-email{
   color: rgb(96, 87, 87); 
}
.iframe-post-icon{
   width: 20px;
   position: absolute;
   top: 8px;
   right: 22px;
}
.post-user-tweet{
   display: flex;
   justify-content: center;
}
.post-user-tweet img{
   border-radius: 20px;
}
.tweet-icon{
   display: flex;
   margin: 10px 0px 25px 50px;
   align-items: center;
}
.tweet-icon span{
   padding: 0px 50px 0px 5px;

}
.iframe-main-con2{
   width: 400px;
}
.search-box-area{
   position:sticky;
   top: 10px; 
   display: flex;
   align-items: center;
   margin: 10px ;
   height:50px;
   z-index: 2;
   width: 350px;
   border-radius: 30px;
   background: #eff3f4;
}
.search-box-area img{
   margin: 0px 10px 0px 25px;
}
.search-box-area input{
   font-size: 17px;
   width:250px;
   height:50px;
   border: none;
   background: #eff3f4;
}
.search-box-area input:focus {
   outline: none;
 }
 .trend{
   width: 330px;
   margin: 10px;
   padding: 15px;
   border-radius: 20px;
   background:#eff3f4;
 }
 .trend-head{
   height: 50px;
   width: 350px;
 }
.trend-head p{
   font-size: 25px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.sug-topic,.sug-view{
   display: flex;
   justify-content: space-between;
   width: 330px;
   color: gray;
}
.trend-sug{
   margin-bottom:20px;
}
.sug-tag{
   width: 330px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.rec-follow{
   width: 330px;
   margin: 10px;
   padding: 15px;
   border-radius: 20px;
   background:#eff3f4;
}
.follow-btn{
   color: white;
   background: black;
   width: 120px;
   padding: 10px 20px;
   border-radius:20px;
   margin-left: 100px;
}
.follow-btn:hover{
   transition: 0.3s;
   border: 1px solid black;
   color: black;
   background: white;
}
.rec-follow .iframe-post-user{
   margin-bottom: 10px;
}
.trend-rec-foot{
   position: sticky;
   top:-300px;
}
.footer{
   width: 330px;
   margin: 10px;
   padding: 15px;
}
.footer p{
   color: gray;
}

     /* explore */

.explore-main{
  display: flex;
}
.explore-main-con1{
   border-right: 2px solid rgb(221, 221, 221);
   border-left: 2px solid rgb(221, 221, 221);
}
.search-box-explore{
   position:sticky;
   top: 10px; 
   display: flex;
   align-items: center;
  
   height:50px;
   z-index: 2;
   width: 600px;
   border-radius: 30px;
   background: #eff3f4;
}
.search-box-explore input {
   font-size: 17px;
   width: 500px;
   height: 50px;
   border: none;
   background: #eff3f4;
}
.explore-header{
   position: sticky;
   top: 0px;
   border-bottom: 2px solid rgb(221, 221, 221);
   z-index: 1;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
}
.ex-trend{
   margin: 10px;
   padding: 15px;
   border-radius: 20px;
   background:#eff3f4;
  
}
.ex-sug-topic,.ex-sug-view{
   display: flex;
   justify-content: space-between;
   color: gray;
}
.explore-main-con2{
   margin: 10px;
   height: max-content;
   background: #eff3f4;
   position: sticky;
   top: 5px; 
}

  /* notification */
.not-main-con1{
   border-right: 2px solid rgb(221, 221, 221);
    border-left: 2px solid rgb(221, 221, 221);
    width: 640px;
}

.tweet-not{
  /* border: 2px solid blue; */
 } 
  .not-header{
   position: sticky;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px 0px 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    z-index: 1;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
  }
  .not-head{
   display: flex;
   justify-content: space-between;
  }
  .not-sug{
   border-bottom: 1px solid rgb(221, 221, 221);
   padding: 20px 0px;
   display: flex;
   flex-wrap: wrap;
}
.not-sug span{
   padding: 0px 10px;
}
.push-not{
   display: flex;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top: 440px;
   width: 640px;
   padding: 20px 0px;
   border-bottom: 1px solid rgb(221, 221, 221);
}
.push-not span{
   font-size: 30px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 0px;
}
.push-not p{
   padding-bottom: 10px;
}
.push-not button{
   color: white;
   background: black;
   padding: 10px 20px;
   border-radius: 20px;
}
    /* Bookmarks */
    .book-main-con1{
      width: 600px;
      border-right: 2px solid rgb(221, 221, 221);
    border-left: 2px solid rgb(221, 221, 221);
    }
   .header-book{
      display: flex;
      flex-direction: column;
   }
   .header-book span{
      font-size: 20px;
      font-weight: bold;
   }
   .header-book p{
      color: gray;
      font-size: 15px;
   }
   .content-book{
      position: absolute;
      top: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 600px;
   }
   .content-book span{
      font-size: 30px;
      font-weight: bold;
   }
  /* messages */
  .header-message{
   display: flex;
   justify-content: space-between;
  }
  .header-message span{
   font-size: 20px;
   font-weight: bold;
  }
  .header-message img{
   padding: 0px 10px;
  }
  .content-message{
    display: flex;
    flex-direction: column;
    margin: 100px 20px 0px 20px;
    height: 70vh;
  }
  .content-message span{
   font-size: 40px;
   font-weight: bold;
  }
  .content-message p{
   white-space: 10px;
  }
  .right-message{
    margin-top: 300px;
   
  } 

  /* more */
  .more-dropdow{
  box-shadow: 0px 0px 10px gray;
   border-radius: 20px;
   background: white;
   padding: 20px;
   cursor: pointer;
   display: none;
   position: absolute;
   top: 220px;
   z-index: 1;

  }
  .more-topic1{
   display: flex;
   flex-direction: column;
   border-bottom:1px solid gray ;
  }
  .more-topic1 span{
   display: flex;
  font-weight: bold;
   padding: 5px 0px;
  }
  .more-topic1 span img{
   padding-right: 20px;
  }
  .more-topic2{
   display: flex;
   flex-direction: column;
  }
  .more-topic2 p img{
   
  }

  /* LOGOUT  */
  .logout{
   position: absolute;
   top: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 70px;
   width: 250px;
   border-radius: 10px;
   padding: 10px;
   background: #ffffff;
   box-shadow: 0px 0px 8px black;
   outline: none;
   z-index: 1;
   display: none;
  }
  .logout p{
   padding: 10px 0;
   font-weight: bold;
  }
@media(max-width:1040px){
   .deskbox1{
      width:100px;
   }
   .deskbox1 .menu{
      margin: 0px;
   }
    .item-txt{
      display: none;
   }
   
   .btn1{
      width:50px;
      height:50px;
      border-radius: 50%;
   }
 }
 /*@media (max-width:1389px){
   .iframe-main-con2{
      display: none;
   } } */




